// Custom styling
// 
// Include the file _sass/_custom.scss to your site to add custom styling

.list-inline {
  min-height: 1lh;
}

.list-spacer { padding-right: $list-inline-padding; }

@media (min-width:1024px) {
    header div.container {padding: 5rem;}
    .header {background-size: contain !important;}

}
