---
layout: default
description: Template for students page.
---

{%- comment -%}
Close the "<div class="col-md-10 col-lg-8 order-lg-first mx-auto">"
opened in the "default" layout, we will use different values
{%- endcomment -%}
</div>

{% if page.team and site.data[page.team] %}
  {% assign team = site.data[page.team] %}
{% elsif site.data.team %}
  {% assign team = site.data.team %}
{% endif %}

{{ content }}

{% assign grouped_students = team | group_by:"role" | sort:"name" %}

{% for nivel in grouped_students %}

<div class="col-12 float-start">
<h3 style="padding-top:3cap; padding-bottom:2cap;">{% if nivel.name == "Doctoral student" %} Doctorate students {% else %} Masters students {% endif %}</h3>
</div>

{% for member in nivel.items %}
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
  <div class="d-flex team-member student-member">
    <div>
      <h5 id="{{ member.name | strip | url_encode}}" style="margin-bottom:.5ex">
        {{- member.name -}}
        {% if member.advisor %}
          <small class="text-muted">| advisor: {{ member.advisor }}</small>
        {% endif %}
      </h5>

      <ul class="list-inline">
        {% if member.orcid %}
          <li class="list-inline-item">
            <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
          </li>
        {% endif %}

        {% if member.researchgate %}
          <li class="list-inline-item">
            <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
          </li>
        {% endif %}
        
        {% if member.googlescholar %}
          <li class="list-inline-item">
            <a href="https://scholar.google.com/citations?user={{ member.googlescholar }}"><i class="ai ai-google-scholar"></i></a>
          </li>
        {% endif %}

        {% if member.lattes %}
          <li class="list-inline-item">
            <a href="http://lattes.cnpq.br/{{ member.lattes }}"><i class="ai ai-lattes"></i></a>
          </li>
        {% endif %}

        {% if member.homepage %}
          <li class="list-inline-item">
            <a href="http://{{ member.homepage }}"><i class="fas fa-home"></i></a>
          </li>
        {% endif %}

        {% if member.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
          </li>
        {% endif %}

        {% if member.research_area %}
          <li class="list-inline-item"><span class="list-spacer">&mdash;</span> {{member.research_area}}</li>
        {% endif %}

      </ul>

    </div>
  </div>
</div>

{% endfor %}

{% endfor %}

{%- comment -%}
Open a new dummy div to be closed by the "default" layout
{%- endcomment -%}
<div>

